@media only screen and (max-width: 1600px) {
    .home {
        width: 100%;
    }
}
@media only screen and (max-width: 1420px) {

    header .redes {
        justify-content: center;
    }

    header .nav-wrapper ul {
        justify-content: center;
    }


}

@media only screen and (max-width: 1300px) {
    .fast-trabalhos .cards {
        display: block;
    }

    .fast-trabalhos .card {
        margin-top: 20px;
    
    }
}

@media only screen and (max-width: 1090px) {
    

    header .redes-wrapper {
        width: 30%;
    }

    header .nav-wrapper {
        width: 35%;
    }



}

@media only screen and (max-width: 900px) {
    
    header .redes-wrapper {
        width: 100%;
        justify-content: center;
        padding: 0;
        margin-bottom: 10px;
    }

    header .nav-wrapper {
        height: 20px;
        width: 100%;
        justify-content: center;
        padding: 0;
        margin-top: 24px;
        background: rgb(23, 71, 110);
        box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.224);
    }

    header .nav-wrapper ul li a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        border: 1px solid #959595;
        border-radius: 40px;
        width: 160px;
        height: 40px;
    }

    header .titulo-wrapper {
        justify-content: center;
        padding: 10px;
        width: 100%;
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header .container {
        height: 150px;
        width: 100%;
        display: block;
    }

    .apresentacao {
        width: 100%;
    }
    .lucas {
        justify-content: center;
        margin-left:0;
        width: 100%;
    }

    .lucas .bola {
        display: none;
    }
    .main {
        display: block;
    }


}

@media only screen and (max-width: 600px) {
    .apresentacao {
        padding: 100px 50px;
    }

    header .nav-wrapper ul li a {
        width: 120px;
    }
}